@page "/admin/scopes/new"
@attribute [Authorize(Roles = "Admin")]

<PageTitle>New Scope</PageTitle>

<Card Class="shadow">
    <CardHeader>
        <h1>New Scope</h1>
    </CardHeader>
    <CardBody>
        <p>This is the placeholder content for the <b>New Scope</b> page.</p>
    </CardBody>
</Card>