@page "/account"
@attribute [Authorize]
@inject UserService UserService

<div class="row justify-content-center">
    <div class="col col-sm-11 col-md-10 col-lg-9 col-xl-8">
        <Card>
            <CardHeader>
                @if (currentUser != null)
                {
                    <h1>@($"{currentUser.FirstName} {currentUser.LastName}")</h1>
                }
            </CardHeader>
            <CardBody Class="border-bottom">
                <AccountAvatar />
            </CardBody>
            <CardBody>
                <MFAModule MFAEnabled="@(currentUser != null && currentUser.IsMfaEnabled)" />
            </CardBody>
        </Card>
    </div>
</div>

@code {
    private User? currentUser;

    protected override async Task OnInitializedAsync()
    {
        currentUser = await UserService.GetCurrenrUserAsync();
    }
}