@page "/auth/login-oidc"
@attribute [NoLayoutPage]

<div class="position-fixed vw-100 top-50 start-50 translate-middle">
    <div class="row justify-content-center">
        <div class="col col-sm-8 col-md-7 col-lg-6 col-xl-5">
            <LoginModule />
        </div>
    </div>
</div>