@page "/"
@inject OpenIddictService OpenIddictService

<PageTitle>Home</PageTitle>

<Card Class="shadow">
    <CardHeader>
        <h1>NTech Authentication</h1>
    </CardHeader>
    <CardBody>
        <p>This is the placeholder content for the <b>Home</b> page.</p>
    </CardBody>
</Card>

@code {
    private List<ApplicationModel> applications;

    protected override async Task OnInitializedAsync()
    {
        applications = await OpenIddictService.GetApplicationsAsync();
    }
}