@inject IJSRuntime JSRunTime

<div class="context-menu-container">
    <ul @ref="menu" class='context-menu'>
        <li data-action="first">First thing</li>
        <li data-action="second">Second thing</li>
        <li data-action="third">Third thing</li>
    </ul>
</div>

@code {
    [Parameter] public ElementReference Parr { get; set; }

    private ElementReference menu;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRunTime.InvokeVoidAsync("ntech.contextMenu.create", menu);
        }
    }
}
