@page "/admin/users/new"
@attribute [Authorize(Roles = "Admin")]

<PageTitle>New User</PageTitle>

<Card Class="shadow">
    <CardHeader>
        <h1>New User</h1>
    </CardHeader>
    <CardBody>
        <p>This is the placeholder content for the <b>New User</b> page.</p>
    </CardBody>
</Card>