<footer class="footer bg-body-tertiary border-top">
	<div class="container-md">
        <div class="row justify-content-between g-3">
			<div class="col">
                <a href="/" class="mb-3 me-2 mb-md-0 text-decoration-none lh-1">
                    <img src="images/favicon.png" height="40" />
                </a>
                <span class="">© 2025 N-Tech</span>
            </div>
            <div class="col justify-content-end d-flex">
                <div class="ms-3">
                    <a class="nav-link" href="https://github.com/nhave/NTechAuth" target="_blank">
                        <Icon Name="IconName.Github" />
                    </a>
                </div>
            </div>
		</div>
	</div>
</footer>