<nav class="navbar navbar-dark sticky-top navbar-expand-sm bg-dark border-bottom shadow">
    <div class="container">
        <a class="navbar-brand p-0" href="">
            <img src="images/logo.png" height="40" alt="Logo">
        </a>
        <div>
            <AuthorizeView>
                <Authorized>
                    <Avatar Class="d-sm-none" Size="40" />
                </Authorized>
            </AuthorizeView>
            <button class="navbar-toggler" type="button" @onclick="OpenCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <NavbarCollapse @ref="collapse">
            <div class="navbar-nav me-auto">
                <div class="nav-item py-2 py-sm-1 col-12 col-sm-auto">
                    <hr class="d-sm-none my-0 text-white-50">
                </div>
                <NavLink class="nav-item nav-link" href="counter">
                    <Icon Name="IconName.PlusSquareFill" /> Counter
                </NavLink>
                <NavLink class="nav-item nav-link" href="weather">
                    <Icon Name="IconName.Table" /> Weather
                </NavLink>
                <NavLink class="nav-item nav-link" href="unknownpage">
                    <Icon Name="IconName.BugFill" /> 404 Debug
                </NavLink>
                <NavLink class="nav-item nav-link" href="auth/login-oidc">
                    <Icon Name="IconName.PersonFillLock" /> OIDC Login
                </NavLink>
                <NavLink class="nav-item nav-link" href=".well-known/openid-configuration">
                    <Icon Name="IconName.PersonFillLock" /> .well-known
                </NavLink>
                <div class="d-sm-none">
                    <div class="nav-item py-2 py-sm-1 col-12 col-sm-auto">
                        <hr class="d-sm-none my-0 text-white-50">
                    </div>

                    <AuthorizeView>
                        <Authorized>
                            <NavLink class="nav-item nav-link" href="account">
                                <Icon Name="IconName.PersonCircle" /> Account
                            </NavLink>
                            <NavLink class="nav-item nav-link" href="auth/logout">
                                <Icon Name="IconName.BoxArrowLeft" /> Sign out
                            </NavLink>
                        </Authorized>
                        <NotAuthorized>
                            <NavLink class="nav-item nav-link" href="auth/login">
                                <Icon Name="IconName.PersonCircle" /> Sign in
                            </NavLink>
                        </NotAuthorized>
                    </AuthorizeView>

                </div>
            </div>
            <div class="navbar-nav">
                <Dropdown Class="nav-item py-2 py-sm-0 d-none d-sm-block">
                    <DropdownToggleButton Class="nav-link p-0 border-0">
                        <AuthorizeView>
                            <Authorized>
                                <Avatar Size="40" />
                            </Authorized>
                            <NotAuthorized>
                                <Avatar Src="images/no_avatar.png" Size="40" />
                            </NotAuthorized>
                        </AuthorizeView>
                    </DropdownToggleButton>
                    <DropdownMenu Position="DropdownMenuPosition.End">
                        <AuthorizeView>
                            <Authorized>
                                <DropdownItem To="account" Type="DropdownItemType.Link">Account</DropdownItem>
                                <DropdownDivider />
                                <DropdownItem To="auth/logout" Type="DropdownItemType.Link">Sign out</DropdownItem>
                            </Authorized>
                            <NotAuthorized>
                                <DropdownItem To="auth/login" Type="DropdownItemType.Link">Sign in</DropdownItem>
                            </NotAuthorized>
                        </AuthorizeView>
                    </DropdownMenu>
                </Dropdown>
            </div>
        </NavbarCollapse>
    </div>
</nav>

@code {
    private NavbarCollapse collapse;

    private async Task OpenCollapse()
    {
        Console.WriteLine(collapse);
        await collapse.Open();
    }
}