:root {
    --bs-btn-active-border-color: transparent;
}

body {
    overscroll-behavior: none;
}

*:focus {
    outline: none;
    box-shadow: none !important;
}

.navbar .nav-link, .card-header h1, .modal-title {
    font-family: Impact, sans-serif;
}

.modal-title {
    letter-spacing: 1px;
}

.navbar-brand img {
    -webkit-user-drag: none;
}

.navbar .btn-group {
    display: block;
}

.navbar .dropdown-menu {
    margin-top: .25rem !important;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: rgba(255, 255, 255, 0.25);
}

.footer {
    --bs-navbar-color: rgba(var(--bs-emphasis-color-rgb), 0.65);
    --bs-navbar-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.8);
    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-family: Impact, sans-serif;
    /*color: rgba(var(--bs-emphasis-color-rgb), 0.65);*/
    color: var(--bs-navbar-color);
}

.footer .bi {
    font-size: 26px;
}

.footer-dark,
.footer[data-bs-theme=dark] {
    --bs-navbar-color: rgba(255, 255, 255, 0.55);
    --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
}

.btn-icon {
    color: var(--bs-secondary-text-emphasis);
    /*--bs-text-opacity: 1;
    color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity))*/
}

    .btn-icon:hover {
        color: var(--bs-emphasis-color);
    }