@page "/admin/applications/new"
@attribute [Authorize(Roles = "Admin")]

<PageTitle>New Application</PageTitle>

<Card Class="shadow">
    <CardHeader>
        <h1>New Application</h1>
    </CardHeader>
    <CardBody>
        <p>This is the placeholder content for the <b>New Application</b> page.</p>
    </CardBody>
</Card>