@attribute [Authorize(Roles = "Admin")]
@page "/admin"

<PageTitle>Admin - Configuration</PageTitle>

<BasePage>
	<Header>
		<h1>Configuration</h1>
	</Header>
	<Body>
		<p>This is the placeholder content for the <b>Configuration</b> tab.</p>
	</Body>
</BasePage>